*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
.wrapper{
    width: 300px;
}
.item{
    border-top: 1px solid #2980b9;
    overflow: hidden;
}

.btn{
    display: block;
    padding: 10px 20px;
    background: #3498db;
    position: relative;
}
.btn i{
    color: white;
}
.smenu{
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}
.smenu a{
    display: block;
    color: white;
    padding: 10px 20px;
    position: relative;
}
.btn::before{
    content: "";
    background: #3498db;
    transform: rotate(45deg);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: 14px;
    height: 14px;
}
.smenu a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #3498db;
    opacity: 0;
    width: 6px;
    height: 100%;
}
.smenu a:hover::before{
    opacity: 1;
}
.item:target .smenu{
    max-height: 10em;
}